language: go
go:
 - 1.9.x
 - 1.10.x
 - 1.11.x
 - 1.12.x
 - 1.13.x
 - 1.14.x
 - tip
dist: bionic
addons:
  apt:
    packages:
    - bison
    - flex
    - automake
    - autoconf
    - libtool
    - make
    - gcc
    - pkg-config
before_install:
  - YARA_VERSION=4.0.4
  - wget --no-verbose -O- https://github.com/VirusTotal/yara/archive/v${YARA_VERSION}.tar.gz | tar -C ${HOME} -xzf -
  - ( cd ${HOME}/yara-${YARA_VERSION} && ./bootstrap.sh )
  - ( mkdir -p ${HOME}/yara-build &&
      cd ${HOME}/yara-build &&
      ${HOME}/yara-${YARA_VERSION}/configure --prefix=${HOME}/prefix )
  - make -C ${HOME}/yara-build install
  - find ${HOME}/prefix
  - export PKG_CONFIG_PATH=${HOME}/prefix/lib/pkgconfig
  - export LD_LIBRARY_PATH=${HOME}/prefix/lib
